<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Table</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Add Restaurant Table</h1>

        <div class="button-group">

            <a href="/restaurant_tables" class="btn btn-blue">
                ← Restaurant Tables
            </a>

        </div>

        <form method="POST">

            <label>Table Number</label>

            <input type="number"
            name="table_number"
            placeholder="Enter table number"
            required>


            <label>Capacity</label>

            <input type="number"
            name="capacity"
            placeholder="Enter table capacity"
            required>


            <label>Status</label>

            <select name="status">

                <option value="Available">
                    Available
                </option>

                <option value="Occupied">
                    Occupied
                </option>

                <option value="Reserved">
                    Reserved
                </option>

            </select>


            <button type="submit">

                Add Table

            </button>

        </form>

    </div>

</body>
</html>
