<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Add Table</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Add Table</h1>

    <form method="POST">

        <label>Table Number</label>

        <input type="number"
        name="table_number"
        required>


        <label>Capacity</label>

        <input type="number"
        name="capacity"
        required>


        <label>Status</label>

        <input type="text"
        name="status"
        required>


        <button type="submit">

            Add Table

        </button>

    </form>

</div>

</body>
</html>

