<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Customer</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Add Customer</h1>

        <div class="button-group">

            <a href="/customers" class="btn btn-blue">
                ← Customer List
            </a>

        </div>

        <form method="POST">

            <label>Name</label>

            <input type="text"
            name="name"
            placeholder="Enter customer name"
            required>


            <label>Phone</label>

            <input type="text"
            name="phone"
            placeholder="Enter phone number"
            required>


            <label>Email</label>

            <input type="email"
            name="email"
            placeholder="Enter email"
            required>


            <button type="submit">

                Add Customer

            </button>

        </form>

    </div>

</body>
</html>
