<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Customers</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Customer List</h1>

    <table>

        <tr>

            <th>Customer ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>

        </tr>

        {% for customer in customers %}

        <tr>

            <td>{{ customer[0] }}</td>
            <td>{{ customer[1] }}</td>
            <td>{{ customer[2] }}</td>
            <td>{{ customer[3] }}</td>

            <td>

                <a href="/edit_customer/{{ customer[0] }}"
                class="btn btn-yellow">

                    Edit

                </a>

                <a href="/delete_customer/{{ customer[0] }}"
                class="btn btn-red">

                    Delete

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>
