<!DOCTYPE html>
<html>

<head>

    <title>Edit Order</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Edit Order</h1>

    <form method="POST">

        <label>Customer Name</label>

        <input type="text"
        name="customer_name"
        value="{{ order['name'] }}"
        required>


        <label>Table</label>

        <input type="text"
        name="table_name"
        value="{{ order['table_number'] }}"
        required>


        <label>Food Item</label>

        <select name="item_id">

            {% for item in menu_items %}

            <option value="{{ item[0] }}"

            {% if item[0] == order['item_id'] %}
            selected
            {% endif %}>

                {{ item[1] }}

            </option>

            {% endfor %}

        </select>


        <label>Quantity</label>

        <input type="number"
        name="quantity"
        value="{{ order['quantity'] }}"
        required>


        <label>Total Price</label>

        <input type="number"
        step="0.01"
        name="total_price"
        value="{{ order['total_price'] }}"
        required>


        <label>Status</label>

        <input type="text"
        name="status"
        value="{{ order['status'] }}"
        required>


        <button type="submit">

            Update Order

        </button>

    </form>

</div>

</body>
</html>
