<!DOCTYPE html>
<html>

<head>

    <title>Employees</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Employees</h1>

    <a href="/add_employee"
class="btn btn-green">

    Add Employee

</a>

<br><br>

    <table>

        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Actions</th>

        </tr>

        {% for employee in employees %}

        <tr>

            <td>{{ employee[0] }}</td>
            <td>{{ employee[1] }}</td>
            <td>{{ employee[2] }}</td>
            <td>{{ employee[3] }}</td>
            <td>

    <a href="/edit_employee/{{ employee[0] }}"
    class="btn btn-yellow">

        Edit

    </a>

    <a href="/delete_employee/{{ employee[0] }}"
    class="btn btn-red">

        Delete

    </a>

</td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>

