<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Restaurant Dashboard</h1>

    <div class="button-group">

        <a href="/add_order"
        class="btn btn-green">

            Add Order

        </a>

    </div>


    <h2 class="section-title">

        Latest Orders

    </h2>

    <table>

        <tr>

            <th>Order ID</th>

            <th>Customer</th>

            <th>Table</th>

            <th>Food</th>

            <th>Total Price</th>

            <th>Status</th>

            <th>Actions</th>

        </tr>

        {% for order in orders %}

        <tr>

            <td>{{ order[0] }}</td>

            <td>{{ order[1] }}</td>

            <td>{{ order[2] }}</td>

            <td>{{ order[3] }}</td>

            <td>{{ order[4] }}</td>

            <td>{{ order[5] }}</td>

            <td>

                <a href="/edit_order/{{ order[0] }}"
                class="btn btn-yellow">

                    Edit

                </a>

                <a href="/delete_order/{{ order[0] }}"
                class="btn btn-red">

                    Delete

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>
