<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Menu Management</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Menu Management</h1>

        <div class="button-group">

            <a href="/" class="btn btn-blue">
                ← Dashboard
            </a>

            <a href="/add" class="btn btn-green">
                ➕ Add Menu
            </a>

        </div>

        <table>

            <tr>

                <th>ID</th>

                <th>Menu</th>

                <th>Category</th>

                <th>Price</th>

                <th>Stock</th>

                <th>Action</th>

            </tr>

            {% for item in menu_items %}

            <tr>

                <td>{{ item[0] }}</td>

                <td>{{ item[1] }}</td>

                <td>{{ item[2] }}</td>

                <td>{{ item[3] }}</td>

                <td>{{ item[4] }}</td>

                <td>

                    <a href="/edit/{{ item[0] }}"
                    class="btn-small btn-edit">
                        Edit
                    </a>

                    <a href="/delete/{{ item[0] }}"
                    class="btn-small btn-delete"
                    onclick="return confirm('Delete this menu?')">
                        Delete
                    </a>

                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</body>
</html>
